<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.flashvayne.demo.mapper.DemoMapper">

    <select id="selectStudent" resultType="com.github.flashvayne.demo.dto.StudentDTO">
        select id,name,age from student
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
    </select>

    <select id="selectTeacher" resultType="com.github.flashvayne.demo.dto.TeacherDTO">
        select id,name,age from teacher
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
    </select>

</mapper>
